a {
    color: white;
}

a:hover{
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

body {
    background-color: black;
}

.navBarItem{
    color: white;
    float: right;
    padding-right: 20px;
    font-size: 18px;
}

.paragraphText {
    color: white;
    font-family: arial;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    padding-top: 10px;
}

.portfolioImage {
    width: 300px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.portfolioItem {
    border-color: red;
    border-width: 3px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    width: 1400px;
}

.portfolioItemInfo {
    float: right;
}

.profileText {
    font-size: 18px;
    padding-left: 5px;
    line-height: 24px;
    font-family: courier;
}

#bioContent{
    width: 60%;
    height: 900px;
    border-style: solid;
    border-width: 5px;
    border-color: silver;
    margin-bottom: 15px;
    float: right;
    background-color: white;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: silver;
}

#header{
    width: 100%;
    background-color: black;
    height: 125px;
}

#nameBlock{
    color: white;
    font-weight: bold;
    font-size: 48px;
    font-family: impact;
    padding-left: 50px;
    padding-top: 25px;
}

#portfolioContent {
    background-color: black;
}

#profileImage {
    width: 35%;
    height: 910px;
    float: left;
}

#wrapper {
    width: 100%;
    height: 910px;
    background-color: black;
}